.parallaxImg {
  // background-image: url("/images/home4.png");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 200px;
  border-radius: 0 500px 500px 0;
  margin-top: 90px;
}