.secondTitle {
  font-size: 140px;
  padding-left: 90px;
}

.descTitle {
  font-size: 140px;
  font-size: 27.21px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 33px;
}

.firstTitle {
  font-size: 140px;
}