.textFill {
  height: 100vh;
  position: relative;

  & h3 {
    font-size: 300px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 332.42px;
    text-align: center;
    cursor: pointer;
    -webkit-text-stroke-color: var(--color-milk);
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    background-image: linear-gradient(180deg, var(--color-milk), var(--color-milk));
    background-size: 100%;

    background-position-y: 300px;
    // transition: background-position-y 3s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  }

  // &:hover h3{
  //   background-position-y: 100%;
  // }
}

.imgWrap1 {
  transform: translate(-10%, -50%);
}

.imgWrap2 {
  transform: translate(-50%, -50%);
}

.imgWrap3 {
  transform: translate(-90%, -50%);
}

.imgWrap {
  position: absolute;
  max-width: 414px;
  width: 100%;
  border-radius: 50%;
  border: 1px var(--color-blue) solid;
  cursor: pointer;
  top: 50%;
  left: 50%;

  // transform: translate(-50%, -50%);
  & img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    max-height: 413px;
    max-width: 412px;

  }

  &:hover svg {
    opacity: 1;
  }
}

.svgCover {
  position: absolute;
  top: 0;
  border-radius: 50%;
  background-color: rgb(78 191 236 / 64%);
  height: 100%;
  max-width: 414px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  height: 100%;

  // animation: rotating 12s linear infinite;
  & text {
    fill: white;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31.1px;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.btnCows {
  display: table;
  border: 3px solid #F3F1DD;
  border-radius: 16.8px;
  color: var(--color-milk);
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 38.88px;
  padding: 10px 60px;
  margin: 0 auto;
  margin-top: 118px;
  transition: var(--transition);
  position: relative;

  &:hover {
    color: var(--color-blue);
  }
  &::before {
    position: absolute;
    content: "";
    background: var(--color-milk);
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px 0px auto auto;
    width: 0px;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
  }


  &:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.cownsWrap {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: -10%;
}