.wrapper {
  margin-top: 242px;
 
  
}

.headTitle {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 268px;

  &>h2 {
    color: var(--color-milk);
    font-family: var(--font-replica);
    font-size: 300px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 332.42px;
    text-align: center;
    white-space: nowrap;
  }
  &>marquee {
    color: var(--color-milk);
    font-family: var(--font-replica);
    font-size: 300px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 332.42px;
    text-align: center;
    white-space: nowrap;
  }


}

.schrebin {
  display: flex;
  align-items: center;
  gap: 33px;
  overflow: hidden;
  justify-content: space-between;
  padding-right: 69px;


  &>button {
    border-radius: 16.8px;
    background-color: var(--color-milk);
    color: var(--color-blue);
    line-height: 25.92px;
    // padding: 16px 30px;
    width: 100%;
    max-width: 300px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25.92px;
    padding: 16px 0;
    z-index: 5;
    
  }
}

.keep {
  max-width: 950px;
  width: 100%;
  margin-top: 205px;
  &>h3 {
    color: var(--color-milk);
    font-family: var(--font-replica);
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 79px;
    margin-bottom: 43px;
  }
  &>p {
    color: var(--color-milk);
    font-family: var(--font-replica);
    font-size: 33px;
    letter-spacing: 0;
    line-height: 43px;
    margin-top: 44px;
  }
}
.info {
  margin-bottom: 148px;
  & > ul {
      margin-top: 176px;
    margin-bottom: 52px;
  }
  & > ul li {
    color: var(--color-milk);
    font-family: var(--font-replica);
    font-size: 25px;
    letter-spacing: 0;
    line-height: 30px;
    
  }
  & > button {
      display: block;
      border-radius: 16.8px;
      background-color: var(--color-milk);
      color: var(--color-blue);
      font-size: 17.28px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 25.92px;
      // padding: 16px 30px;
      width: 100%;
      max-width: 333px;
      padding: 16px 0;
      margin-bottom: 31px;
  }
  
}
.telLink {
  display: block;
    border-radius: 16.8px;
    background-color: var(--color-milk);
    color: var(--color-blue);
    font-size: 17.28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25.92px;
    // padding: 16px 30px;
    width: 100%;
    max-width: 333px;
    padding: 16px 0;
    margin-bottom: 30px;
    text-align: center;
}
.arrowWrap {
  position: relative;
  svg {
    position: absolute;
    transition: var(--transition);
  }
}