.footerWrap {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContent {
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: var(--color-blue);
  background-color: var(--color-milk);
  padding: 215px 15px;
}

.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.navFooter {
  max-width: 936px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;


  @media only screen and (max-width: 900px) {
    max-width: 100%;
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 900px) {
      gap: 10px;

    }

    & li {
      font-size: 35px;
      line-height: 29px;
      font-weight: bold;

      @media only screen and (max-width: 900px) {
        font-size: 25px;
        line-height: 20px;
      }
    }

    & li:not(:last-child) {
      border-right: 4px solid var(--color-blue);

      padding-right: 15px;
      margin-right: 20px;
    }
  }
}

.circleNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 69px;
  gap: 64px;

  & .circleNavItem {
    // padding: 32px 24px;
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-blue);
    color: var(--color-milk);
    font-size: 22.46px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 27px;
    text-align: center;
    cursor: pointer;

  }
}

.socialWrap {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media only screen and (max-width: 900px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.socialNav {
  display: flex;
  align-items: center;
  justify-content: center;

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;


    & li:not(:last-child) {
      border-right: 3px solid var(--color-blue);
      padding-right: 15px;
      margin-right: 15px;
      line-height: 18px;
    }
  }
}

.otherInfo {
  &>p {
    margin-bottom: 10px;
  }
}

.socialContact {
  & p {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;

  }
}

.imgWrap img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  // max-height: 931px;
  height: auto;
}