.mask {
  position: relative;
  // mask-image: linear-gradient(to top, transparent, #000);
  // mask-image: image(url("/images/world.png"), skyblue), linear-gradient(rgba(0, 0, 0, 1), transparent);
  // mask-image: image(url("./world.svg"));
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 20%;
  // top: 0 !important;
  z-index: 9;
  height: 100vh;
}

.video {
  width: 100vw;
}
.videoBannerText {
  font-weight: 900;
  font-size: 90px;
  line-height: 90px;
  text-align: center;
  position: absolute;
  top: 20%;
  // left: 50%;
  transform: translate(40%, 40%);
  opacity: 0;
}
.paraContent {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-blue);
  font-size: 70px;
  line-height: 79px;
  background-color: var(--color-milk);
  margin-top: -15px;
  & h2{
    padding: 100px 135px;
  }
}

.videoWrap {
  position: relative;
  top: 0 !important;
  overflow: hidden;
  height: 100vh;
  width: auto;
}