.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 95%;
  padding-bottom: 38px;

  &>div {
    width: 100%;
  }
}

.menuItem {
  padding: 24px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  // overflow: hidden;

  & a {
    position: relative;
    color: var(--color-blue);
    line-height: 41px;
    font-weight: 700;
    font-size: 57px;
    touch-action: manipulation;
    width: 100%;
  }

}

.menuItemAnim {
  position: absolute;
  top: -2%;
  visibility: hidden;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 44px;
  line-height: 53px;
  background-color: var(--color-blue);
  color: var(--color-white);
  z-index: 1;
  overflow: hidden;
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  height: 100%;

}

.menuItem:hover .menuItemAnim {
  visibility: visible;
}

.menuItemAnimRail {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.menuItemAnimWrap {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  animation: scroll-left linear infinite;
  animation-duration: 10s;
}

.menuItemAnimWrapItem {
  display: flex;
  align-items: center;
  padding-right: 1em;
  width: -moz-max-content;
  width: max-content;

}

.menuSocial {
  
  & div {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  & li {
    transform: scale(1);
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  }
  & li a {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-blue);
  }
  & hr {
    width: 2px;
    background-color: var(--color-blue);
    margin: 0 15px;
  }



}

.wrapAnim {
  width: 100%;
    height: 100%;
    transform: scale(1.5);
    position: absolute;
    top: 0;
    display: flex;
    overflow: hidden;
    max-width: 380px;
    margin: 0px auto;
    right: 9%;
    border-radius: 32px;
    min-height: 57px;
}

@keyframes scroll-left {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.menuToggle {
  border: 2px solid var(--color-blue);
  border-radius: 30px;
  color: var(--color-blue);
  max-width: 184px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
  overflow: hidden;
 & svg {
  transform: rotate(45deg);
 }
  & span {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    flex: 1;
    text-align: center;
  }

  & .closeWrap:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    background-color: var(--color-blue);
    border-radius: 50%;
    flex: inherit;
    outline: 1px solid var(--color-blue);
    cursor: pointer;
    pointer-events: all;

    & svg {
      font-size: 30px;
      width: 100%;
    }

    & path {
      stroke: var(--color-white);
    }
  }

  &::before {
    position: absolute;
    content: "";
    background: var(--color-blue);
    transition-duration: 0.3s;
    z-index: 1;
    inset: 0px 0px auto auto;
    width: 0px;
    height: 100%;
    opacity: 1;
  }


  &:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }


  &:hover span {
    color: var(--color-white);
    z-index: 2;
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
  }

  &:hover .closeWrap:has(svg) {

    background: var(--color-white);
    z-index: 2;
    transition: color 0.3s ease 0s, background 0.3s ease 0s;

    & path {
      stroke: var(--color-blue);
    }
  }
}

.menuToggleWrap {
  padding-top: 70px;
  flex: 1;
  padding-right: 70px;
  position: relative;
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}