:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --color-blue: #4EBFEC;
  --color-milk: #F3F1DD;
  --color-gray: #D8D8D8;
  --color-black: #050000;
  --color-white: #fff;
  --transition:all 0.3s linear

}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:active,
:focus {
  outline: 0;
}

a:active,
a:focus {
  outline: 0;
}

aside,
footer,
header,
nav {
  display: block;
}

html {
  scroll-behavior: smooth;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  display: inline-block;
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

a:hover {

  text-decoration: none;
}


img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-blue);
  color: var(--color-white);
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: var(--color-milk);
  background-color: var(--color-blue);
  font-family: var(--font-replica);

}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}



/* ------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --color-text: #fff;
  --color-bg: #a98b9a;
  --color-link: #fff;
  --color-link-hover: #fff;
  --padding-page: 2rem;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}





.loading .frame {
  opacity: 0;
}

body #cdawrap {
  justify-self: start;
}


.content {
  height:876px;
  padding: 0 var(--padding-page);
  position: relative;
  margin-top: 50px;
}

.canvas-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0;
  background-repeat: repeat;
  max-width: 1430px;
  width: 100%;
  margin-right: auto;
  border-radius: 400px 0 0 400px;
}
.content canvas{
    border-radius: 400px 0 0 400px;

}
.no-js .canvas-wrap {
  opacity: 1;
}

.content__inner {
  position: relative;
  justify-self: end;
  align-self: end;
  padding-bottom: var(--padding-page);
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 