:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --color-blue: #4EBFEC;
  --color-milk: #F3F1DD;
  --color-gray: #D8D8D8;
  --color-black: #050000;
  --color-white: #fff;
  --transition: all 0.3s linear
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:active,
:focus {
  outline: 0;
}

a:active,
a:focus {
  outline: 0;
}

aside,
footer,
header,
nav {
  display: block;
}

html {
  scroll-behavior: smooth;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
/* a:visited {
  display: inline-block;
  all: unset;
  text-decoration: none;
  cursor: pointer;
} */

a:hover {

  text-decoration: none;
}


img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-blue);
  color: var(--color-white);
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: var(--color-milk);
  background-color: var(--color-blue);
  font-family: var(--font-replica);

}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}



/* ------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --color-text: #fff;
  --color-bg: #a98b9a;
  --color-link: #fff;
  --color-link-hover: #fff;
  --padding-page: 2rem;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}




.loading .frame {
  opacity: 0;
}

body #cdawrap {
  justify-self: start;
}


/* .content {
  height: 876px;
  position: relative;
} */



.no-js .canvas-wrap {
  opacity: 1;
}

.content__inner {
  position: relative;
  justify-self: end;
  align-self: end;
  padding-bottom: var(--padding-page);
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.hbtn {
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
  border: 2px solid var(--color-milk);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  cursor: pointer;
}

.hb-fill-left::before {
  position: absolute;
  content: "";
  background: var(--color-milk);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 0px;
  height: 100%;
  opacity: 1;
}


.hb-fill-left:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}


.hb-fill-left:hover {
  color: var(--color-blue);
  z-index: 2;
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}

.send {
  animation: launch 1.5s ease-in-out !important
}

@keyframes launch {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1)
  }

  10%,
  15% {
    transform: translateX(0) scale(.8)
  }

  30%,
  35% {
    transform: translateX(-20) scale(.8)
  }

  40%,
  70% {
    transform: translateX(50vw) scale(.8)
  }

  70% {
    opacity: 1
  }

  71% {
    opacity: 0;
    transform: translateX(50vw) scale(.8)
  }

  72% {
    opacity: 0;
    transform: translateX(0) scale(.8)
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1)
  }
}


::-webkit-scrollbar {
  width: 8px;
  background: var(--color-milk);

}


::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}

.disable {
  mask-image:none !important;
}
 .fil1 {
   fill: none
 }

 .fil2 {
   fill: #4EBFEC
 }

 .fil0 {
   fill: #4EBFEC
 }
 .videoParallax {
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
 }
 .split-lines {
  display: flex;
 }
 .split-words {
  display: flex;
 
 }
 .split-charts {
  opacity: 0;
 }